button {
    display: block;
    border: none;
    font-weight: 300;
    padding: 5px;
    background: #fff;
    text-align: left;
    &:hover {
        border: none;
        text-decoration: underline;
    }
}
