:root {
    --light-clr: #e5e5e5;
    --primary-clr: #edeea6;
}
.musicItem {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--primary-clr);

    &__content {
        padding: 10px;
        text-align: left;
        h3 {
            margin: 0 0 5px 0;
            font-size: 17px;
        }
        p {
            opacity: 0.7;
            margin-top: 0;
        }
    }
    img {
        width: 50%;
        max-width: 130px;
        aspect-ratio: 1 / 1;
        border-radius: 5px;
        overflow: hidden;
    }
}
