:root {
  --light-clr: #e5e5e5;
  --primary-clr: #edeea6;
}
.musicItem {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--primary-clr);

  &__content {
    padding: 10px;
    text-align: left;
    color: var(--primary-clr);
    h3 {
      margin: 0 0 5px 0;
      font-size: 17px;
    }
    p {
      opacity: 0.7;
      margin-top: 0;
    }
    a {
      background: rgba(255, 255, 255, 0.05);
      -webkit-backdrop-filter: blur(2px);
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-right-color: rgba(255, 255, 255, 0.1);
      border-bottom-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
      text-decoration: none;
    cursor: pointer;
      padding: 8px 12px;
      &:hover {
        backdrop-filter: blur(5px);
      }
    }
  }

  img {
    width: 50%;
    max-width: 130px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
  }
}
