#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app-container {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 0.5px 0 1px rgba(255, 255, 255, 0.2) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.6) inset,
    0 4px 16px rgba(0, 0, 0, 0.1);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
------------------ .info-container {
  border: 1px dashed #ccc;
  background-color: #eee;
  padding: 30px;
  text-align: center;
  margin: 1em;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
