:root {
  --color: #d3d3d3;
}
.search-bar {
  display: flex;
  justify-content: center;

  .search-bar__input {
    width: 75%;
    height: 25px;
    margin-top: 5px;
    text-indent: 5px;
    border-radius: 5px;
    border: solid 1.5px var(--color);
    -webkit-transition: 1s; /* Safari */
    transition: 1s;
    &:hover {
      box-shadow: 0 0 5px 0.5px var(--color);
    }
    &:focus {
      box-shadow: 0 0 5px 2px var(--color);
      outline-width: 0;
    }
  }
}
